/* A címsorok és menük betűtípusa:
font-family: 'Catamaran', sans-serif;

Gombok szövege, felső menü linkek:
font-family: 'Lato', sans-serif;

Bekezdések és footer:
font-family: 'Mulish', sans-serif; */

.body-bg {
    background: url(/img/bg-pattern.png) repeat, linear-gradient(to right, #dc2430,#7b4397);
}

.img--inner {
    border-radius: 1%;
    position: absolute;
    left: 8%;
    top: 10%;
    width: 84%;
}

.img--inner2 {
    border-radius: 1%;
    position: absolute;
    left: 8%;
    top: 14%;
    width: 84%;
}

.text--size {
    font-size: 5rem;
    font-weight: 200;
}

.utf--icons {
    font-size: 7rem;
}

.bg--image {
    background-image: url(/img/bg-cta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: .8;
}

.bg--black {
    background-color: #000000;
}

.text--fb {
    background-color: #3b5998;
}